*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: orangered;
}

.grilla{
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-template-columns: 1fr;

  gap: 3rem;
  grid-template-areas: 
  "header header header"
  "main main main"
  "section section section"
  "footer footer footer";
}

header{
  grid-area: header;
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
header .titulo{
  color: white;
  font-family: "montserrat";
  font-size: 64px;
  text-align: center;
  
}
header .cajalogo{
  background-color: white;
}
header .logo{
  position:absolute;
  width: 80px;
  top: 10px;
  left: 20px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul{
  text-align: center;
  font-family: "hp simplified";
  font-size: 24px;
  word-spacing: 50px;
}
nav button{
  position: absolute;
  width: 250px;
  height: 30px;
  border-radius: 25px;
  border-color: orangered;
  background-color: orangered;
  right: 30px;
  text-align: justify;
  margin-left: 20px;
}
main{
  grid-area: main;
  background-color: white;
}

.imagenPrincipal {
  display:grid;
  height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "img texto";
  background-color: black;
}

.auris{
  grid-area: img;
}
.textArea{
  grid-area: texto;
  background-color: black;
  width: auto;
  color: white;

}
.textArea br{
  color: white;
}
main .textArea h2{
  top: 25px;
}

section{
  grid-area: section;
  background-color: #D9D9D9;
}

section h3{
  text-align: center;
  font-family: "montserrat";
  font-size: 64px;
  text-decoration: underline;
}
.auricular {
  width: 33%;

}
.microfono{
  width: 33%;
}
.tocadiscos{
    width: 33%;
}
footer{
  grid-area: footer;
  background-color: black;
}
footer p{
  color: white;
  font-size: 18px;
  text-align: justify;
  font-family: "hp simplified"
}

footer a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "hp simplified";
  
}
footer img{
  width: 90px;
  left: 30px;
}
.footNav{
  text-align: center;
  word-spacing: 50px;
}

a{
  color: black;
}