*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(255, 98, 0);
}

.grilla{
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-template-columns: 1fr;

  gap: 3rem;
  grid-template-areas: 
  "header header header"
  "main main main"
  "section section section"
  "footer footer footer";
}

header{
  grid-area: header;
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
}
.titulo{
  color: white;
  font-family: "montserrat";
  font-size: 64px;
 
}

header .logo{
  width: 80px;
  margin-left: 10px;
  display: flex;

}
nav{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
nav ul{
  text-align: center;
  font-family: "hp simplified";
  font-size: 24px;
  word-spacing: 50px;
}
nav button{
  position: flex;
  width: 250px;
  height: 30px;
  border-radius: 25px;
  background-color: rgb(255, 98, 0);
  right: 30px;
  text-align: center;
  margin-left: 20px;
  border: none;
  ;
}
main{
  grid-area: main;
  background-color: white;
}

.imagenPrincipal {
  display:grid;
  height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img texto";
  background-color: black;
}

.auris{
  grid-area: img;
}
.textArea{
  grid-area: texto;
  background-color: black;
  width: auto;
  color: white;
  padding-top: 75px;
  padding: 50px;


}
.textArea h2{
  color: white;
  font-size: xxx-large;
  text-align: center;
}
.textArea p{
  font-size: larger;
  text-align: justify;

}
main .textArea h2{
  top: 25px;
}

section{
  grid-area: section;
  background-color: #D9D9D9;
}

section h3{
  text-align: center;
  font-family: "montserrat";
  font-size: 64px;
  text-decoration: underline;
}
.catalogo{
  display: flex;
  justify-content: space-between;
  padding: 30px ;
}

.auricular {
  width: 20%;

}
.microfono{
  width: 20%;
}
.tocadiscos{
    width: 20%;
}
footer{
  grid-area: footer;
  background-color: black;
}
footer p{
  color: white;
  font-size: 18px;
  text-align: justify;
  font-family: "hp simplified"
}

footer a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "hp simplified";
  
}
footer .logo{
  margin: 10px;
  width: 80px;

}
.footNav{
  text-align: center;
  word-spacing: 50px;
}

a{
  color: black;
}
.imagenCentral{
  display:flex;
  width: 75%; 
}
.game{
  display: flex;
}
