.header_cabecera {
  background-color: $color-banner;
  display: flex;
  align-items: center;
  // Estilos para el encabezado

  .cajaLogo {
    display: inline-block;
    background-color: $color-h;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    align-items: center;
    padding: auto;
    // Estilos para el contenedor del logo
  }

  .logo {
    display: flex;
    width: 80px;
    padding: auto;
    flex-direction: column;
    // Estilos para el logo
  }

  .titulo {
    display: inline-block;
    color:$color-h;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-size: 64px;

    // Estilos para el título
  }

  .nav_bar {
    display:flex;
    width: auto;
    word-spacing: 50px;
    align-items: center;
    color: $color-h;
    background-color: $color-h;
    justify-content: center;

    // Estilos para la barra de navegación

    ul {
      display: flex;
      align-items: center; /* Alineación vertical al centro */
      justify-content: center; /* Alineación horizontal al centro */
      text-align: center;
      word-spacing: 50px;
      list-style: none;
      color: $color-p;
      // Estilos para la lista de elementos de navegación
    }
    a{

      // Estilos para los 

    }

    .enlace {
      color: black;
      // Estilos para los enlaces de navegación
    }

    .menu-btn {
      // Estilos para el botón del menú
      .menu-btn__line {
        // Estilos para las líneas del botón del menú
      }
    }

    .search {
      // Estilos para la búsqueda
      i {
        // Estilos para el icono de búsqueda
      }

      button {
        position: flex;
        width: 250px;
        height: 30px;
        border-radius: 25px;
        background-color: $color-fondo;
        right: 30px;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 10px;
        border: none;
        // Estilos para el botón de búsqueda
      }
    }
  }
}