

  button {
    position: flex;
    width: 250px;
    height: 30px;
    border-radius: 25px;
    background-color: $color-fondo;
    right: 30px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
  }