.imagenCentral{



    .textArea{
        background-color: $color-banner;
        justify-content: center;
        color: white;
        text-align: center;
        
    }
}

.lista{
    color:$color-h;
    list-style:none;
    background-color: $color-banner;

    font-size: $p-size;



    

    .tituloLista{
        margin-top: 3em;
    }


    li{
        margin: auto;
        font-size: $h3-size;
        text-align:justify;
        align-items: center;

    }
    a{
        color:$color-h;
    }


}
.anuncio{
    background-color: $color-banner;
    color:$color-h;
}
