$color-principal: black ;
$color-secundario: #D9D9D9 ;
$color-main: white;
$color-h: white ;
$color-p:black ;
$font-h:"montserrat" ;
$font-body:"HP simplified" ;
$color-fondo: rgb(255, 111, 0);
$color-banner: black;
$color-i:rgba(255, 255, 255, 0.863);